$color-dark: #455a64;
$color-black: #263238;
$color-black-plus: #1a2327;

$color-grey-0: #f5f5f5;
$color-grey-1: #eeeeee;
$color-grey-2: #e5e5e5;

$color-main: #29e58b;
$color-secondary: #71bdf8;

$color-blue: #71bdf8;
$color-red: #ff4f5b;
$color-bluesky: #e8f0fe;

$color-green: #71f19b;
