@import "colors.scss";
@import "fonts.scss";
@import "default.scss";

main {
  color: $color-dark;
  min-height: 100vh;
  &.dark {
    background: $color-dark;
    color: white;
  }
}

hr {
  border-color: rgba($color: #ccc, $alpha: 0.1);
  margin-bottom: 1rem;
}

// // general
.container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

a {
  color: $color-blue;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    opacity: 0.7;
  }
}

.item-label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.opcion-foot {
  margin-top: 1.5rem;
  a {
    color: $color-secondary;
  }
}

.center {
  text-align: center;
}

.bg-red {
  background: $color-main;
  color: #fff;

  .btn {
    color: #fff;
    border-color: #fff;
    i {
      color: #fff;
    }
  }
}

.success {
  color: $color-main;
}
.grey {
  background: $color-grey-1;
}

.ds {
  & .light,
  & .dark,
  & .red,
  & .grey {
    padding: 1.5rem;
  }
}

.separador {
  margin: 0 1.5rem;
  display: block;
  width: 1px;
  height: 2rem;
  background-color: #fff;
}

.modal {
  .delete {
    b {
      text-transform: capitalize;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background: $color-grey-0;
  display: flex !important;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;

  input {
    width: 100%;
    border: 0;
    outline: none;
    font-size: 1rem;
    padding: 0.7rem 0.5rem;
    background: transparent;
    color: $color-dark;
    padding-left: 3rem;
  }
  &::before {
    color: #bbb;
    font-family: FontAwesome;
    content: "\f073";
    position: absolute;
    zoom: 1;
    left: 1rem;
    align-self: center;
  }
}

.dark {
  color: #fff;
  background: $color-dark;
  transition: all 0.3s ease;

  .bg-red {
    .btn {
      border-color: $color-main;
    }
  }

  .react-datepicker-wrapper {
    background: $color-black;
    input {
      color: #fff;
    }
    &::before {
      color: #4f717a;
    }
  }
}

.fa {
  &.mantenimiento {
    color: $color-red;
  }
  &.disponible {
    color: #ffc42c;
  }
  &.alquilado {
    color: $color-main;
  }
}

.credits-page {
  .avatar {
    .img {
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;
    }
  }
}
