@import "colors.scss";
@import "fonts.scss";
@import "default.scss";

main {
  color: $color-dark;
  min-height: 100vh;
  &.dark {
    background: $color-dark;
    color: white;
  }
}

// // general
.container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

a {
  color: $color-blue;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    opacity: 0.7;
  }
}

.opcion-foot {
  margin-top: 1.5rem;
  a {
    color: $color-secondary;
  }
}

.center {
  text-align: center;
}

.bg-red {
  background: $color-main;
  color: #fff;

  .btn {
    color: #fff;
    border-color: #fff;
    i {
      color: #fff;
    }
  }
}

.dark {
  color: #fff;
  background: $color-dark;
  transition: all 0.3s ease;

  .bg-red {
    .btn {
      border-color: $color-main;
    }
  }
}

.grey {
  background: $color-grey-1;
}

.ds {
  & .light,
  & .dark,
  & .red,
  & .grey {
    padding: 1.5rem;
  }
}
