@import "../../assets/scss/colors.scss";
.rents {
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box {
      display: flex;
      align-items: center;
    }

    border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
    .btn {
      margin: 0.5rem !important;
    }
    .btn-circle {
      width: 1.8rem;
      height: 1.8rem;
      background: $color-red;
      border-color: $color-red;
      transition: all 0.2s ease;
      transform: scale(1);

      .fa {
        font-size: 1rem;
        color: #fff;
      }

      &:hover {
        transform: scale(0.9);
        .fa {
          color: rgba($color: #fff, $alpha: 0.8);
        }
      }
    }

    span {
      margin-left: 1rem;
      & + span {
        margin-left: 2rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .rents {
    &-item {
      .box {
        .btn + div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          span {
            margin: 0.2rem 0 0.2rem 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .rents {
    &-item {
      .box {
        .btn + div {
          span {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
