@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";

// COMPONENT
.title-field {
  margin-bottom: 1rem;
  color: $color-dark;
  font-family: $inika;
  font-weight: bold;
  display: flex;
  align-items: center;

  .fa {
    margin-right: 0.8rem;
  }
}

// DARK
.dark {
  .title-field {
    color: #fff;
  }
}
