@import "../../scss/colors.scss";

.notificaction-box {
  position: fixed;
  bottom: 100px;

  transition: all 0.4s ease;
  z-index: 200;
  opacity: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  &.active {
    opacity: 1;
  }

  & > div {
    background: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50%;
    display: flex;
    align-items: center;

    &.danger {
      background: $color-main;
    }

    &.primary {
      background: $color-blue;
    }
  }
  i {
    margin-right: 1rem;
  }
}
